:root {
  --logo-font: 'Raleway', sans-serif;
  --action-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --third-text-color: #ffffff;

  --main-bg-color: #ffffff;
  --border-bg-color: #2e2f42;
  --Our-team-section-bg-color: #f4f4fd;
  --team-card-bg-color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* HEADER */
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--action-color);
}

.address {
  display: flex;
}

.contact-phone-number {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-left: 40px;
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--action-color);
}

.mail {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mail:hover,
.mail:focus {
  color: var(--action-color);
}

.logo {
  color: var(--action-color);
  font-family: var(--logo-font);
  font-size: 18px;
  text-decoration: none;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-header {
  color: var(--primary-text-color);
}

/* MAIN STUDIO */

.hero-content {
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  margin-left: 300px;
  display: block;
  width: 512px;
  height: 120px;
  text-align: center;

  color: var(--third-text-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button-studio {
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: inherit;
  font-size: 16px;
  background-color: var(--action-color);
  color: var(--third-text-color);
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
}

.button-studio:hover,
.button-studio:focus {
  background-color: var(--pressed-state-color);
}

.hero-background {
  background-color: var(--border-bg-color);
}

.our-advantages-section {
  padding-top: 120px;
}

.list-of-benefits {
  display: flex;
  gap: 24px;
}

.our-advantages-section-titles {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-advantages-section-text {
  color: var(--secondary-text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.type-of-software {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.what-are-we-doing-section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-align: center;
}

.our-team-cards-section {
  background-color: var(--Our-team-section-bg-color);
}

.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.employees-card-content-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team-card {
  background-color: var(--team-card-bg-color);
  cursor: pointer;
  flex-basis: calc((100% - 72px) / 4);
}

.our-team-section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-align: center;
}

.our-team-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.our-team-card-text {
  color: var(--secondary-text-color);
  line-height: 1.5;
}

/* FOOTER */

.footer-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-bg {
  background-color: var(--border-bg-color);
}

.logo-footer {
  color: var(--light-color);
}

.footer-text {
  display: block;
  width: 264px;
  height: 72px;
  color: var(--accent-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
}

/* MAIN PORTFOLIO */

.btn-portfolio {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--light-color);
  color: var(--action-color);
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--pressed-state-color);
  color: var(--third-text-color);
}

.buttons {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  margin-top: 96px;
  justify-content: center;
}

.project-cards-section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.project-card {
  flex-basis: calc((100% - 48px) / 3);
}

.project-card-content-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
}

.project-card-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-card-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
